<%= render 'shared/athlete_nav' %>
<%= render 'shared/error_messages', errors:@errors %>
<div class="row">
	<div class="span12">
		<ul class="breadcrumb">
		  <li><a href="<%= templates_path  %>">Templates</a> <span class="divider">-</span></li>
		  <li><a href="<%= template_path(@template) %>"><%= @template.name %></a> <span class="divider">-</span></li>
		  <li><a href="<%= edit_week(@template, @week) %>">Edit</a></li>
		</ul>
	</div>
	<div class="span8 offset2">
		<%= form_tag update_week(@template, @week), method: "put", :class => "form-horizontal" do %>
			<legend>Edit <%= @template.name %> - Week <%= @week.sequence %></legend>
			<div class="control-group">
				<label class="control-label" for="distance_percent">Distance Percentage</label>
				<div class="controls">
					<input type="number" class="span1" min="0" max="100" default="100" id="distance_percent" name="week[distance_percent]" value="<%= @week.distance_percent%>"></input>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="week_description">Description</label>
				<textarea rows="3" id="week_description" name="week[description]" value="<%= @week.description %>"></textarea>
			</div>
			<% @week.running_template_workouts.each do |workout| %>
			<hr>
			<h5>Workout</h5>
			<div class="control-group">
				<label class="control-label" for="description">Description</label>
				<input type="text" id="description" name="workout[<%= workout.id %>][description]" value="<%= workout.description %>"></input>
			</div>
			<div class="control-group">
				<label class="control-label" for="total_distance">Total Distance</label>
				<input type="text" id="total_distance" name="workout[<%= workout.id %>][total_distance]" value="<%= workout.total_distance %>"></input>
			</div>
			
			<table id="workout_<%=workout.id %>"class="table table-striped table-condensed">
				<thead>
					<th></th>
					<th>Repetitions</th>
					<th>Distance</th>
					<th>Pace</th>
					<th>Recovery</th>
				</thead>
				<tbody>
				<% (0..6).each do |sequence| %>
					<tr>
					<% if workout.running_template_workout_legs.exists?(sequence: sequence) %>
						<% leg = workout.running_template_workout_legs.find_by_sequence(sequence) %>
						<td><input type="checkbox" id="include" name="workout[<%= workout.id %>][legs][<%= sequence %>][active]" value="1" checked="checked"></input></td>
					<% else %>
						<td><input type="checkbox" id="include" name="workout[<%= workout.id %>][legs][<%= sequence %>][active]" value="1"></input></td>
						<% leg = RunningTemplateWorkoutLeg.new %>
					<% end %>
						<td>
							<input type="text" class="span1" id="repetitions" name="workout[<%= workout.id %>][legs][<%= sequence %>][repetitions]" value="<%= leg.repetitions %>"></input>
						</td>
						<td>
							<input type="text" class="span1" id="distance" name="workout[<%= workout.id %>][legs][<%= sequence %>][distance]" value="<%= leg.distance %>"></input>
							<select class="span1" name="workout[<%= workout.id %>][legs][<%= sequence %>][distance_type]" id="distance_type" value="<%= leg.distance_type %>">
								<% render 'shared/distance_type_options' %>
							</select>
						</td>
						<td>
							<select class="span2" name="workout[<%= workout.id %>][legs][<%= sequence %>][pace_type]" id="pace_type" value="<%= leg.pace_type %>">
								<option value="1" <% if leg.pace_type == 1 %> selected="selected" <% end %> >Easy</option>
								<option value="2" <% if leg.pace_type == 2 %> selected="selected" <% end %> >Marathon</option>
								<option value="3" <% if leg.pace_type == 3 %> selected="selected" <% end %> >Threshold</option>
								<option value="4" <% if leg.pace_type == 4 %> selected="selected" <% end %> >Rep</option>
							</select>
						</td>
						<td>
							<input type="text" class="span1" id="distance" name="workout[<%= workout.id %>][legs][<%= sequence %>][recovery]" value="<%= leg.recovery %>"></input>
						</td>
						
					</tr>
				<% end %>
				</tbody>
			</table>
			<% end %>
			<div class="form-actions">
			  	<button type="submit" class="btn btn-primary">Save changes</button>
			  	<a type="button" class="btn" href="<%= template_path(@template) %>">Cancel</a>
			</div>
		<% end %>
	</div>
</div>