<%= render 'shared/athlete_nav' %>
<%= render 'shared/error_messages', errors:@errors %>
<div class="row">
	<div class="span12">
		<ul class="breadcrumb">
		  <li><a href="<%= templates_path  %>">Templates</a> <span class="divider">-</span></li>
		  <li><a href="<%= template_path(@template) %>"><%= @template.name %></a> <span class="divider">-</span></li>
		  <li><a href="<%= edit_template_path(@template) %>">Edit</a></li>
		</ul>
	</div>
	<div class="span6 offset4">
		<%= form_tag template_path(@template), method: "put", :class => "form-horizontal" do %>
			<legend>Edit <%= @template.name %></legend>
			<%= render 'form', template:@template %>
		<% end %>
	</div>
</div>


