<%= render 'shared/athlete_nav' %>

<div class="row">
	<div class="span12">
		<ul class="breadcrumb">
		  <li><a href="<%= running_templates_path %>">Templates</a> <span class="divider"></span></li>
		</ul>
	</div>
	<div class="pull-right">
		<a class="btn btn-large btn-success" href="<%= new_running_template_path %>"><i class="icon-plus"></i> Create Template</a>
	</div>
</div>
<div class="row">
	<div class="span12">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Name</th> 
					<th>Distance</th> 
					<th>Distance Per Week</th> 
					<th>Level</th>
					<th>Weeks</th>
					<th>Runs Per Week</th>
				</tr>
			</thead>
			<tbody>
			<% @templates.each do |template| %>
				
				<tr>
						<td><%= template.name %></td>
						<td><%= template.distance %></td>
						<td><%= template.distance_per_week %></td>
						<td><%= template.level %></td>
						<td><%= template.number_of_weeks %></td>
						<td><%= template.runs_per_week %></td>
						<td><a href="<%= running_template_path(template.id) %>">Details</a></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>