<%= render 'shared/athlete_nav' %>

<div class="row">
	<div class="span12">
		<ul class="breadcrumb">
		  <li><a href="<%= running_templates_path  %>">Templates</a> <span class="divider">-</span></li>
		  <li><a href="<%= running_template_path(@template) %>"><%= @template.name %></a> <span class="divider"></span></li>
		</ul>
		<div class="row">
			<div class="span4">
				<p>Name: <%= @template.name %></p>
				<p>Distance: <%= @template.distance %> Miles </p>
				<p>Level: <%= @template.level %></p>
			</div>
			<div class="span4">
				<p>Number of Weeks: <%= @template.number_of_weeks %></p>
				<p>Distance Per Week: <%= @template.distance_per_week %></p>
				<p>Runs Per Week: <%= @template.runs_per_week %></p>
			</div>
			<div class="span2">
				<a class="btn btn-small" href="<%= edit_running_template_path(@template) %>"> 
					<i class="icon-pencil"></i>
					 Edit 
				</a>
				<a class="btn btn-small" href="<%= running_template_path(@template) %>" data-method="delete" rel="nofollow" data-confirm="Are you sure?" title="Confirm delete <%= @template.name %>"> 
					<i class="icon-remove"></i>
					 Delete 
				</a>
			</div>
		</div>
		<% @template.running_template_weeks.each do |week| %>
		<h3>Week <%= week.sequence %> - <%= week.total_distance %> Miles</h3>
		<div class="row">
			<ul class="unstyled" style="border-top:solid;1px;">
				<% week.running_template_workouts.each do |workout| %>
				<li style="display:inline">
					<div class="span4">
						<h5><%= workout.description %> - <%= workout.total_distance %> <%= distance_type(workout.distance_type) %></h5>
						<ul class="unstyled">
						<% workout.running_template_workout_legs.each do |leg| %>
							<li>
							<% if !leg.repetitions.nil? %>
								<%= leg.repetitions %> x 
							<% end %>
							<%= leg.distance %> <%= distance_type(leg.distance_type) %> @ <%= pace_type(leg.pace_type) %> pace
							<% if !leg.recovery.nil? %>
								w/ <%= leg.recovery %>s recovery
							<% end %>
							</li>
						<% end %>
						</ul>
					</div>
				</li>
				<% end %>
				<li style="display:inline">
					<div class="span4">
						<h5>Easy Miles - <%= week.total_distance - week.running_template_workouts.sum("total_distance") %> Miles</h5>
						<p>
							Runs: <%= @template.runs_per_week - 2 %>
						</p>
					</div>
				</li>
			</ul>
		</div>
		<% end %>
	</div>
</div>
