<%= render 'shared/athlete_nav' %>
<%= render 'shared/error_messages', errors:@errors %>
<div class="row">
	<div class="span6 offset2">
		<%= form_tag create_goal_url, method: "post"  do %>
		<legend>Race Goal</legend>
		<div class="control-group">
			<label class="control-label" for="name">Goal Name: </label>
			<div class="controls">
				<input type="text" id="name" name="name"></input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="race">Race: </label>
			<div class="controls">
				<input type="text" id="race" name="race"></input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="race_type">Distance: </label>
			<div class="controls">
				<select class="span2" name="race_type" id=="race_type">
					<option value="<%= RaceType::FIVEK %>"><%= RaceType::toString(RaceType::FIVEK) %></option>
					<option value="<%= RaceType::TENK %>"><%= RaceType::toString(RaceType::TENK) %></option>
					<option value="<%= RaceType::HALFMARATHON %>"><%= RaceType::toString(RaceType::HALFMARATHON) %></option>
					<option value="<%= RaceType::MARATHON %>"><%= RaceType::toString(RaceType::MARATHON) %></option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="date">Race Date: </label>
			<div class="controls">
				<input class="span2" type="date" id="date" name="date">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="goal_time">Goal Time: </label>
			<div class="controls">
				<input class="span2" type="text" id="goal_time" name="goal_time">
			</div>
		</div>
		<div class="form-actions">
		  	<button type="submit" class="btn btn-primary">Save changes</button>
		  	<a class="btn" href="/">Cancel</a>
		</div>
		<% end %>
	</div>
</div>