<%= render 'shared/athlete_nav' %>
<div class="row">
	<div class="span3">
		<ul class="nav nav-tabs nav-stacked">
		  <% @current_week.each do |workout| %>
		  <li id="<%= workout.id%>" <% if workout.id == @active_day.id %> class="active" <% end %>  >
		  	<a href="<%= "" << @base_path << "?active=#{workout.id}" %>">
		  		<div>
		  			<%= workout.date.to_formatted_s(:long) %>
		  		</div>
		  		<br>
		  		<div>
		  			<%= workout.summary %>
		  			<span style="float:right"><%= workout.miles %> Miles</span>
		  		</div>
		  	</a>
		  </li>
		  <% end %>
		</ul>
	</div>
	<div class="span6">
		<h1><%= @active_day.date.to_formatted_s(:long) %></h1>
		<div class="row">
			<div class="span3">
				<%= @active_day.summary %>
			</div>
			<div class="span3">
				<%= @active_day.miles %> Miles
			</div>
		</div>
		<br>
		<%= @active_day.details %>

	</div>
	<div class="span3">
		<div class="row">
			<h3>Week Summary</h3>
			<p>Miles: <%= @summary_miles %> </p>
			<p>Workouts: <%= @summary_workouts %> </p>
			<h3>Current Goal</h3>
			<p>Name: <%= @goal.name %></p>
			<p>Race: <%= @goal.race %></p>
			<p>Distance: <%= @goal.distance %></p>
			<p>Goal: <%= @goal.goal_time %></p>
		</div>
		<div class="row">
			Current Goal
		</div>
	</div>
</div>