<option value="<%= DistanceType::MILES %>"><%= DistanceType::toString(DistanceType::MILES) %></option>
<option value="<%= DistanceType::METERS %>"><%= DistanceType::toString(DistanceType::METERS) %></option>
<option value="<%= DistanceType::KILOMETERS %>"><%= DistanceType::toString(DistanceType::KILOMETERS) %></option>